/* lm.css */

.footer-content {
    padding: 20px;
  }
  
  .comment-box {
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 160px; /* Add margin-top */
  }
  
  .comment-box h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .comment-box label {
    font-weight: bold;
  }
  
  .comment-box input[type="text"],
  .comment-box input[type="email"],
  .comment-box textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .comment-box textarea {
    height: 100px;
  }
  
  .comment-box button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .comment-box button:hover {
    background-color: #0056b3;
  }
  